h1, h2, h3, h4, h5, h6 {
  font-family: "McLaren", cursive; }

a, p {
  font-family: "Lato", sans-serif; }

a {
  text-decoration: none; }
a:hover {
  text-decoration: none; }

.social a {
  color: #fff;
  font-size: 18px;
  margin: 0 15px; }

section {
  margin-top: 50px; }
section .button-title {
  margin: 0 auto;
  display: block;
  padding: 5px 50px; }
section .button-title i {
  position: absolute;
  right: -3px;
  top: 14px;
  font-size: 30px; }

ul, li {
  display: inline-block;
  list-style-type: none; }

.text-stroke-white {
  text-shadow: white 12px 0px 0px, white 11.9584px 0.998843px 0px, white 11.8337px 1.99075px 0px, white 11.6269px 2.96885px 0px, white 11.3395px 3.92634px 0px, white 10.9733px 4.85657px 0px, white 10.531px 5.75311px 0px, white 10.0156px 6.60971px 0px, white 9.43065px 7.42044px 0px, white 8.78027px 8.17967px 0px, white 8.06895px 8.88212px 0px, white 7.30163px 9.52293px 0px, white 6.48363px 10.0977px 0px, white 5.62063px 10.6023px 0px, white 4.71862px 11.0333px 0px, white 3.78387px 11.3878px 0px, white 2.82285px 11.6633px 0px, white 1.84224px 11.8577px 0px, white 0.848846px 11.9699px 0px, white -0.15044px 11.9991px 0px, white -1.14868px 11.9449px 0px, white -2.13895px 11.8078px 0px, white -3.11438px 11.5888px 0px, white -4.06819px 11.2894px 0px, white -4.99376px 10.9116px 0px, white -5.88468px 10.458px 0px, white -6.73475px 9.93192px 0px, white -7.53808px 9.33688px 0px, white -8.2891px 8.67703px 0px, white -8.98258px 7.95696px 0px, white -9.61372px 7.18167px 0px, white -10.1781px 6.35653px 0px, white -10.6719px 5.48727px 0px, white -11.0916px 4.57993px 0px, white -11.4344px 3.64081px 0px, white -11.6977px 2.67641px 0px, white -11.8799px 1.69344px 0px, white -11.9796px 0.698716px 0px, white -11.9962px -0.300857px 0px, white -11.9296px -1.29834px 0px, white -11.7801px -2.28682px 0px, white -11.5489px -3.25942px 0px, white -11.2375px -4.2094px 0px, white -10.8481px -5.13016px 0px, white -10.3834px -6.01532px 0px, white -9.84671px -6.85874px 0px, white -9.24164px -7.65454px 0px, white -8.57243px -8.39723px 0px, white -7.84372px -9.08163px 0px, white -7.06058px -9.703px 0px, white -6.22843px -10.257px 0px, white -5.35305px -10.7399px 0px, white -4.44052px -11.1482px 0px, white -3.49717px -11.4791px 0px, white -2.52955px -11.7304px 0px, white -1.54437px -11.9002px 0px, white -0.548477px -11.9875px 0px, white 0.451226px -11.9915px 0px, white 1.4478px -11.9123px 0px, white 2.43432px -11.7505px 0px, white 3.40395px -11.5071px 0px, white 4.34995px -11.1838px 0px, white 5.26576px -10.7829px 0px, white 6.14503px -10.3072px 0px, white 6.98164px -9.75995px 0px, white 7.7698px -9.14495px 0px, white 8.50404px -8.46648px 0px, white 9.17925px -7.72925px 0px, white 9.79076px -6.93838px 0px, white 10.3343px -6.09935px 0px, white 10.8061px -5.21799px 0px, white 11.203px -4.30041px 0px, white 11.522px -3.35299px 0px, white 11.7612px -2.38229px 0px, white 11.9186px -1.39506px 0px, white 11.9934px -0.398151px 0px; }

.text-stroke-brown {
  text-shadow: #7b5837 15px 0px 0px, #7b5837 14.9667px 0.999259px 0px, #7b5837 14.8669px 1.99408px 0px, #7b5837 14.701px 2.98004px 0px, #7b5837 14.4698px 3.95276px 0px, #7b5837 14.1744px 4.90792px 0px, #7b5837 13.8159px 5.84128px 0px, #7b5837 13.3961px 6.74868px 0px, #7b5837 12.9168px 7.6261px 0px, #7b5837 12.38px 8.46964px 0px, #7b5837 11.7883px 9.27555px 0px, #7b5837 11.1442px 10.0402px 0px, #7b5837 10.4506px 10.7603px 0px, #7b5837 9.71056px 11.4326px 0px, #7b5837 8.92738px 12.0541px 0px, #7b5837 8.10453px 12.6221px 0px, #7b5837 7.24568px 13.1339px 0px, #7b5837 6.35464px 13.5874px 0px, #7b5837 5.43537px 13.9806px 0px, #7b5837 4.49194px 14.3116px 0px, #7b5837 3.52856px 14.5791px 0px, #7b5837 2.54951px 14.7817px 0px, #7b5837 1.55912px 14.9188px 0px, #7b5837 0.561813px 14.9895px 0px, #7b5837 -0.437993px 14.9936px 0px, #7b5837 -1.43585px 14.9311px 0px, #7b5837 -2.42733px 14.8023px 0px, #7b5837 -3.40803px 14.6077px 0px, #7b5837 -4.37359px 14.3482px 0px, #7b5837 -5.31971px 14.025px 0px, #7b5837 -6.2422px 13.6395px 0px, #7b5837 -7.13696px 13.1933px 0px, #7b5837 -8.00001px 12.6886px 0px, #7b5837 -8.82752px 12.1274px 0px, #7b5837 -9.6158px 11.5124px 0px, #7b5837 -10.3614px 10.8463px 0px, #7b5837 -11.0609px 10.1319px 0px, #7b5837 -11.7113px 9.37259px 0px, #7b5837 -12.3097px 8.5716px 0px, #7b5837 -12.8533px 7.73252px 0px, #7b5837 -13.3399px 6.85909px 0px, #7b5837 -13.7672px 5.95518px 0px, #7b5837 -14.1333px 5.02482px 0px, #7b5837 -14.4367px 4.07214px 0px, #7b5837 -14.6759px 3.10136px 0px, #7b5837 -14.8499px 2.1168px 0px, #7b5837 -14.9579px 1.12284px 0px, #7b5837 -14.9995px 0.123888px 0px, #7b5837 -14.9744px -0.875612px 0px, #7b5837 -14.8828px -1.87122px 0px, #7b5837 -14.7251px -2.85852px 0px, #7b5837 -14.502px -3.83312px 0px, #7b5837 -14.2144px -4.79068px 0px, #7b5837 -13.8637px -5.72697px 0px, #7b5837 -13.4514px -6.63781px 0px, #7b5837 -12.9793px -7.51916px 0px, #7b5837 -12.4496px -8.3671px 0px, #7b5837 -11.8645px -9.17787px 0px, #7b5837 -11.2268px -9.94786px 0px, #7b5837 -10.5391px -10.6737px 0px, #7b5837 -9.80465px -11.352px 0px, #7b5837 -9.02663px -11.98px 0px, #7b5837 -8.20851px -12.5547px 0px, #7b5837 -7.35391px -13.0736px 0px, #7b5837 -6.46665px -13.5345px 0px, #7b5837 -5.55065px -13.9352px 0px, #7b5837 -4.60999px -14.274px 0px, #7b5837 -3.64885px -14.5494px 0px, #7b5837 -2.67151px -14.7602px 0px, #7b5837 -1.68229px -14.9054px 0px, #7b5837 -0.685596px -14.9843px 0px, #7b5837 0.314142px -14.9967px 0px, #7b5837 1.31248px -14.9425px 0px, #7b5837 2.305px -14.8218px 0px, #7b5837 3.28727px -14.6354px 0px, #7b5837 4.25493px -14.3839px 0px, #7b5837 5.20369px -14.0685px 0px, #7b5837 6.12934px -13.6906px 0px, #7b5837 7.02775px -13.2518px 0px, #7b5837 7.89494px -12.7542px 0px, #7b5837 8.72705px -12.1999px 0px, #7b5837 9.52039px -11.5915px 0px, #7b5837 10.2714px -10.9315px 0px, #7b5837 10.9768px -10.223px 0px, #7b5837 11.6335px -9.469px 0px, #7b5837 12.2384px -8.67297px 0px, #7b5837 12.789px -7.83842px 0px, #7b5837 13.2828px -6.96903px 0px, #7b5837 13.7175px -6.06869px 0px, #7b5837 14.0914px -5.14138px 0px, #7b5837 14.4026px -4.19123px 0px, #7b5837 14.6498px -3.22246px 0px, #7b5837 14.8319px -2.23938px 0px, #7b5837 14.9481px -1.24634px 0px, #7b5837 14.998px -0.247768px 0px; }

.bg-light {
  background-color: #fff !important; }

.bg-green {
  background-color: #56d47e; }

.border-green {
  border: 1px solid #56d47e;
  transition: .3s all ease; }
.border-green:hover {
  background-color: #56d47e;
  border: 1px solid inherit; }
.border-green:hover a {
  color: #fff; }

.btn-green {
  background-color: #56d47e;
  border: 1px solid #secondaryColor;
  transition: .3s all ease-in-out;
  color: #fff;
  position: relative; }
.btn-green:hover {
  background-color: #7b5837;
  border: 1px solid #7b5837 !important;
  color: #fff !important; }

.btn-brown {
  background-color: #7b5837;
  border: 1px solid #primaryColor;
  transition: .3s all ease-in-out;
  color: #fff;
  position: relative; }
.btn-brown:hover {
  background-color: #56d47e;
  border: 1px solid #56d47e !important;
  color: #fff !important; }

header {
  position: relative; }
header .logo {
  text-align: center; }
header .header-social, header div.action-call {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row; }
header .header-social h2, header div.action-call h2 {
  color: #fff; }
header h1 {
  font-size: 22px;
  color: #7b5837;
  text-align: center; }
header .navbar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  width: 80%;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3); }
header .navbar a {
  color: #333333; }

.hero-wrapper {
  background-image: url("../img/hero-wrapper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 883px;
  position: relative; }
.hero-wrapper .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
.hero-wrapper .text h1, .hero-wrapper .text h2 {
  font-size: 95px; }
.hero-wrapper .text h1 {
  font-family: 'Sniglet', cursive;
  text-align: center;
  padding-left: 70px;
  color: #7b5837; }
.hero-wrapper .text h2 {
  color: #fff; }

.about-us p {
  font-size: 20px;
  font-style: italic; }
.about-us h3 {
  color: #7b5837; }

.dream-come-true img {
  width: 100%; }
.dream-come-true .flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover; }
.dream-come-true .flex-container p {
  text-align: center;
  padding: 0 10rem;
  font-size: 20px;
  color: #fff;
  font-weight: 700; }
.dream-come-true .flex-container .btn-green {
  display: flex;
  justify-content: center;
  align-items: center; }
.dream-come-true .flex-container .btn-green a {
  color: #fff !important; }
.dream-come-true .flex-container small {
  text-align: center;
  margin: 5px auto;
  display: block; }

.products h2, .products h3, .products h5 {
  color: #7b5837; }
.products a {
  color: #fff !important; }
.products ul, .products li {
  display: block;
  padding: 0; }
.products img {
  width: 100%; }

.benefits h3, .benefits h5, .benefits i {
  color: #7b5837; }
.benefits .description {
  padding: 0 30px;
  font-size: 18px; }
.benefits a {
  color: #fff; }

blockquote {
  display: block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  /*Font*/
  font-family: "McLaren", cursive;
  font-size: 25px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  /*Borders - (Optional)*/
  border-left: 15px solid #7b5837;
  border-right: 2px solid #7b5837;
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc; }

blockquote::before {
  content: "\201C";
  /*Unicode for Left Double Quote*/
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  /*Positioning*/
  position: absolute;
  left: 10px;
  top: 5px; }

blockquote::after {
  /*Reset to make sure*/
  content: ""; }

blockquote a {
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c; }

blockquote a:hover {
  color: #666; }

blockquote em {
  font-style: italic; }

.what-people-say .owl-carousel .owl-item img {
  width: initial !important; }
.what-people-say .owl-carousel .owl-item p {
  width: 50%;
  text-align: center;
  margin: 0 auto; }

.end-of-site a {
  color: #fff; }

footer {
  background: #ddd;
  padding: 25px; }

@media screen and (max-width: 767px) {
  header .navbar {
    width: 100%; }

  .navbar-light .navbar-toggler {
    margin: 0 auto; }

  .hero-wrapper .text h1, .hero-wrapper .text h2 {
    font-size: 65px; }

  .dream-come-true .flex-container {
    display: initial; }

  .dream-come-true .flex-container p {
    padding: 0; }

  blockquote {
    font-size: initial; }

  .what-people-say .owl-carousel .owl-item p {
    width: initial;
    padding: 0 15px; } }

/*# sourceMappingURL=main.css.map */
